extends layout

block append vars
  - var bodyclass = 'article'
  - var fullUrl = locals.url + page.url

block prepend title
  | #{ page.title + " • "}

block content
  article.is-post.is-post-excerpt
    header
      h2
        a(href='/')= page.title
      span.byline= page.metadata.subtitle
    .info
      span.date
        span.month= moment(page.date).format('MMM')
          span 
        span.day= moment(page.date).format('D')
        span.yeara= moment(page.date).format('YYYY')
      ul.stats
        li
          a.fa.fa-twitter(href='#') 64
        li
          a.fa.fa-facebook(href='#') 128
    p!= page.html

    div#disqus_thread

  script.
    var disqus_shortname = 'myarmblog'; // required: replace example with your forum shortname

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
