extends layout

block content
  each article in articles
    - var content = article.html.replace(/<[^>]+>/g, '')
    - var pl = moment.lang('pl')

    article.is-post.is-post-excerpt
      header
        h2
          if article.metadata.ethnic
            span(style='color: ' + article.metadata.color)= article.metadata.ethnic
          else
            span(style='color: #9ED6FB;') f
          a(href=article.url)= article.title
        span.byline= article.metadata.subtitle
      .info
        span.date
          span.month= moment(article.date).lang('pl').format('MMM')
            span 
          span.day= moment(article.date).format('D')
          span.yeara= moment(article.date).format('YYYY')
        ul.stats
          li
            a.fa.fa-twitter(href='#') 64
          li
            a.fa.fa-facebook(href='#') 128
      p!= content.substr(0, 500 + content.substr(500).search(/\W/)) + ' ...'
      a(href=article.url).-10u Czytaj dalej ...
        // a(href=article.url).button.button-alt.button-small.-10u Czytaj dalej ...
  .pager
    if prevPage
      a(href=prevPage.url).button.previous Wcześniejsze
        // i.icon-right-dir
    if nextPage  
      a(href=nextPage.url).button.next Poźniejsze 
        // i.icon-left-dir    
